@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#welcome {
  background-image: url(../images/seattle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#earlylunchclub {
  background-image: url(../images/earlylunch.club-green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#earlylunchclub:hover {
  background-image: url(../images/earlylunch.club-red.png);
}
